
<div class="circle-project">
  <%= video_tag "Performance.mp4", :size => "1400x600", :controls => true %>
</div>


<div class="circle-images">
  <div class="image1">
    <%= image_tag('Cercle1.jpg', size: "400x400")%>
  </div>

  <div class="image1">
    <%= image_tag('Cercle2.jpg', size: "400x400")%>
  </div>

  <div class="image1">
    <%= image_tag('Cercle3.jpg', size: "400x400")%>
  </div>

 <div class="image1">
    <%= image_tag('Cercle8.jpg', size: "400x400")%>
  </div>
  <div class="image1">
    <%= image_tag('Cercle4.jpg', size: "400x400")%>
  </div>


  <div class="image1">
    <%= image_tag('Cercle5.jpg', size: "400x400")%>
  </div>

  <div class="image1">
    <%= image_tag('Cercle6.jpg', size: "400x400")%>
  </div>

  <div class="image1">
    <%= image_tag('Cercle7.jpg', size: "400x400")%>
  </div>


</div>
