
  <div class="circle-project" >
    <div class="video-circle">
      <%= video_tag "Performance.mp4", :size => "800x200", :autoplay => true, :loop => true, muted: 'muted', class: :standard_post_video %>
    </div>
  </div>



<div class="circle-text">
  <h1>The performance of <i>The Circle</i> attempts to examine the “box” of human conscience itself, by creating a type of painting that distances itself from external stimuli and visible images and, instead, invest in absolute and pure shapes that are inspired by motives that are internal to the soul. I continues with an in-depth spiritual search, seeking the truth that is hidden within things. My work is based on archetypal shapes, which put one in mind of the basic structures of nature and are capable of speaking for their content through the strength of their drawing and the structure of their materials.
  <br> Material: Charcoal and oil on paper.
  </h1>
  <!-- <div class="circle-images">
    <div class="image1">
      <%= image_tag('Cercle1.jpg', size: "100x100") %>
    </div>

    <div class="image1">
      <%= image_tag('Cercle2.jpg', size: "100x100")%>
    </div>

    <div class="image1">
      <%= image_tag('Cercle3.jpg', size: "100x100")%>
    </div>

   <div class="image1">
      <%= image_tag('Cercle8.jpg', size: "100x100")%>
    </div>
    <div class="image1">
      <%= image_tag('Cercle4.jpg', size: "100x100")%>
    </div>


    <div class="image1">
      <%= image_tag('Cercle5.jpg', size: "100x100")%>
    </div>

    <div class="image1">
      <%= image_tag('Cercle6.jpg', size: "100x100")%>
    </div>

    <div class="image1">
      <%= image_tag('Cercle7.jpg', size: "100x100")%>
    </div>
  </div> -->
</div>



