<% if @project.name == 'Circle' %>

  <div class="circle-project">
    <div class="project-text">
      <h1>The performance of <i>The Circle</i> attempts to examine the “box” of human conscience itself, by creating a type of painting that distances itself from external stimuli and visible images and, instead, invest in absolute and pure shapes that are inspired by motives that are internal to the soul. I continue with an in-depth spiritual search, seeking the truth that is hidden within things. My work is based on archetypal shapes, which put one in mind of the basic structures of nature and are capable of speaking for their content through the strength of their drawing and the structure of their materials.
      <br> Material: Charcoal and oil on paper.
      </h1>
    </div>

  <div class="circle-images">
    <div class="image1">
      <%= render partial: 'shared/svgs/circles' %>
       <a href=""> Circle 1 </a>
   <!--      <%= image_tag('Cercle1.jpg', size: "100x100") %> -->
    </div>

    <div class="image2">
      <a href=""> Circle 2 </a>
      <%= render partial: 'shared/svgs/circles' %>
     <!--  <%= image_tag('Cercle2.jpg', size: "100x100")%> -->
    </div>

    <div class="image3">
      <a href=""> Circle 3 </a>
       <%= render partial: 'shared/svgs/circles' %>
    <!--   <%= image_tag('Cercle3.jpg', size: "100x100")%> -->
    </div>

   <div class="image4">
    <a href=""> Circle 4 </a>
     <%= render partial: 'shared/svgs/circles' %>
     <!--  <%= image_tag('Cercle8.jpg', size: "100x100")%> -->
     <!--  <%= image_tag('Cercle4.jpg', size: "100x100")%> -->
    </div>

     <div class="image12">
      <a href=""> Circle 5 </a>
       <%= render partial: 'shared/svgs/circles' %>
    <!--   <%= image_tag('Cercle7.jpg', size: "100x100")%> -->
    </div>

    <div class="image5">
      <a href=""> Circle 6 </a>
       <%= render partial: 'shared/svgs/circles' %>
   <!--    <%= image_tag('Cercle5.jpg', size: "100x100")%> -->
    </div>

    <div class="image6">
      <a href=""> Circle 7 </a>
       <%= render partial: 'shared/svgs/circles' %>
    <!--   <%= image_tag('Cercle6.jpg', size: "100x100")%> -->
    </div>

    <div class="image7">
      <a href=""> Circle 8 </a>
       <%= render partial: 'shared/svgs/circles' %>
    <!--   <%= image_tag('Cercle7.jpg', size: "100x100")%> -->
    </div>

  </div>
</div>




  <% else @project.name == 'Water' %>


<div class="water-project">
  <div class="water-text">
    <h1>"Water, A Symbol of Life" - Painting and installation.
        <br>Contemporary art investigates the great questions of science, reproduces and shapes worlds— whether real or imaginary—promotes values, and proposes new ways of thinking. I attempted to tackle the theme of water as a symbol of life.
        <br>Questions, answers, and internal searches created a work of art, a sculptural installation consisting of small clay elements—using bottles of water as molds—that were placed in an oval shape to depict the symbol of birth, the grandiose transformation. The egg shape resembles the perfect shape: the sphere. It is in this form that millions of beings are reproduced, while, in many myths, the egg itself is born from the primordial water of the universe.
    </h1>
  </div>


  <div class="water-images">
   <div class="image8">
    <a href=""> Water 1 </a>
    <!--  <%= image_tag('Water4.JPG', size: "700x500")%> -->
    </div>
    <div class="image9">
      <a href=""> Water 2 </a>
    <!--   <%= image_tag('Water3.JPG', size: "700x500")%> -->
    </div>
    <div class="image10">
      <a href=""> Water 3 </a>
    <!--   <%= image_tag('Water1.JPG', size: "700x500") %> -->
    </div>

    <div class="image11">
      <a href=""> Water 4 </a>
     <!--  <%= image_tag('Water2.JPG', size: "700x500")%> -->
    </div>
  </div>
</div>






<% end %>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Launch static backdrop modal
</button>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Hello</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
 -->


