<div class="images">

  <div class="image">
    20 <%= image_tag('pierres.JPG', size: "350x150")%> 01
  </div>

  <div class="image">
   2001 <%= image_tag('005.JPG', size: "600x250")%>
  </div>

  <div class="image">
   2002 <%= image_tag('milos.jpg', size: "500x350")%>
   </div>

  <div class="image">
   20 <%= image_tag('milos2.jpg', size: "500x300")%> 02
  </div>

  <div class="image">
   2001 <%= image_tag('plage.jpg', size: "700x400")%>
  </div>

  <div class="image">
   20 <%= image_tag('arbre.JPG', size: "400x300")%> 04
  </div>

  <div class="image">
   20 <%= image_tag('colline.JPG', size: "500x300")%> 04
  </div>

  <div class="image">
    <%= image_tag('vert.JPG', size: "500x300")%> 2004
  </div>

  <div class="image">
   20 <%= image_tag('fleurs.JPG', size: "500x200")%> 04
  </div>

  <div class="image">
   20 <%= image_tag('cactus.jpg', size: "600x250")%> 01
  </div>

  <div class="image">
    <%= image_tag('pommes.jpg', size: "600x250")%> 2001
  </div>

  <div class="image">
    <%= image_tag('grenade.jpg', size: "400x550")%> 2001
  </div>

  <div class="image">
   2001 <%= image_tag('grenade2.jpg', size: "400x550")%>
  </div>

  <div class="image">
   20 <%= image_tag('femme.JPG', size: "400x500")%> 05
  </div>

  <div class="image">
   2000 <%= image_tag('photo.jpg', size: "400x600")%>
  </div>

  <div class="image">
   2009 <%= image_tag('portrait.jpg', size: "400x250")%>
  </div>

  <div class="image">
   2004 <%= image_tag('vieux.jpg', size: "400x600")%>
  </div>

  <div class="image">
   2004 <%= image_tag('vieux2.jpg', size: "400x600")%>
  </div>

  <div class="image">
   20 <%= image_tag('vieux3.jpg', size: "400x600")%> 07
  </div>

</div>

<div class="show">
  <div class="overlay"></div>
  <div class="img-show">
    <span>X</span>
    <img src="">
  </div>
</div>

<script>
  $(function () {
    "use strict";

    $(".images img").click(function () {
        var $src = $(this).attr("src");
        $(".show").fadeIn();
        $(".img-show img").attr("src", $src);
    });

    $("span, .overlay").click(function () {
        $(".show").fadeOut();
    });

});
</script>

