<div class="images">

  <div class="image">
    <h1> 20 </h1>
    <%= image_tag('pierres.JPG', size: "350x150")%>
    <h1> 10 </h1>
  </div>

  <div class="image">
    <%= image_tag('005.JPG', size: "600x250")%>
    <h1> 2012</h1>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <h1> 10 </h1>
    <%= image_tag('milos.jpg', size: "500x350")%>
   </div>

  <div class="image">
    <h1> 20 </h1>
    <h1> 10 </h1>
    <%= image_tag('milos2.jpg', size: "500x300")%>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <h1> 10 </h1>
    <%= image_tag('plage.jpg', size: "1272x500")%>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <%= image_tag('arbre.JPG', size: "400x300")%>
    <h1> 10 </h1>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <%= image_tag('colline.JPG', size: "500x300")%>
    <h1> 10 </h1>
  </div>

  <div class="image">
    <%= image_tag('vert.JPG', size: "500x300")%>
    <h1> 20 </h1>
    <h1> 10 </h1>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <%= image_tag('fleurs.JPG', size: "500x200")%>
    <h1> 10 </h1>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <%= image_tag('cactus.jpg', size: "600x250")%>
    <h1> 10 </h1>
  </div>

  <div class="image">
    <%= image_tag('pommes.jpg', size: "600x250")%>
    <h1> 20 </h1>
    <h1> 10 </h1>
  </div>

  <div class="image">
    <%= image_tag('grenade.jpg', size: "400x550")%>
    <h1> 20 </h1>
    <h1> 10 </h1>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <h1> 10 </h1>
    <%= image_tag('grenade2.jpg', size: "400x550")%>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <%= image_tag('femme.JPG', size: "400x500")%>
    <h1> 10 </h1>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <h1> 10 </h1>
    <%= image_tag('photo.jpg', size: "400x550")%>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <h1> 10 </h1>
    <%= image_tag('portrait.jpg', size: "400x250")%>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <h1> 10 </h1>
    <%= image_tag('vieux.jpg', size: "400x600")%>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <h1> 10 </h1>
    <%= image_tag('vieux2.jpg', size: "400x600")%>
  </div>

  <div class="image">
    <h1> 20 </h1>
    <%= image_tag('vieux3.jpg', size: "400x600")%>
    <h1> 10 </h1>
  </div>

</div>


